<%- include ('../partials/head') -%>

<link rel="icon" type="image/png" href="../images/icons/favicon.ico">
<link rel="stylesheet" type="text/css" href="../css/main.css">

<% if (profileUser._id.equals(currentUser.id)) { %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
<!--===============================================================================================-->
<% } %>

</head>

<body>
	<% if (profileUser._id.equals(currentUser.id)) { %>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="file" name="userPhoto" id="userPhotoFile">
					<div id="imagePreviewContainer">
						<img src="" id="imagePreview">
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id='btn-submit-image'>Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<% } %>

	<div class="page-content page-container" id="page-content">
		<div class="padding">
			<div class="row container d-flex justify-content-center">
				<div class="col-xl-6 col-md-12">
					<div class="card user-card-full">
						<div class="row m-l-0 m-r-0">
							<div class="col-sm-4 bg-c-lite-green user-profile">
								<div class="card-block text-center text-white">
									<div class="m-b-25">
										<% if (profileUser._id.equals(currentUser.id)) { %>
										<img data-toggle="modal" data-target="#exampleModal"
											src="<%= profileUser.avatar || 'https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg'%>"
											class="img-radius img-radius-hover" alt="User-Profile-Image">
										<% } else { %>
										<img src="<%= profileUser.avatar|| 'https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg'%>"
											class="img-radius" alt="User-Profile-Image">
										<% } %>
									</div>
									<h6 class="f-w-600"><%= profileUser.username %> </h6>
								</div>
							</div>
							<div id='posts-container' class="col-sm-8">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<%- include ('../partials/scripts') -%>
	<script>
		const profileUserID = "<%= profileUser._id %>";
		const userID = "<%= currentUser.id %>";
	</script>
	<script src="../../js/main.js"></script>
	<% if (profileUser._id.equals(currentUser.id)) { %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
	<% } %>
	<script src="../../js/profile.js"></script>
</body>

</html>